@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.div-flex-adjust-justify-between {
  @apply flex flex-row items-center justify-between;
}
.styleLogin_btnGoogleFace {
  @apply mt-4 h-fit w-full rounded-md border-2 border-cyan-500 p-2 text-center font-semibold text-cyan-400;
}
.center {
  @apply flex items-center justify-center;
}
.optionWhenLoginSuccess {
  @apply h-[30%] w-full font-semibold hover:bg-sky-50;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.full-screen-component {
  width: 100vw;
  height: 100vh;
}
